@{

    Layout = "Guest/_Layout";
    string name = "Silvia";
    string surname = "Dugato";
    //es2
    int getSumm(int num){
        int sum = 0;
        for( int i =0; i<= num; i++ ){
            sum += i;
        }
        return sum;
    }
    //es3
    string str = "nel mezzo del cammin di nostra vita";
    int letterACount(string phrase, char ch)
    {

        int freq = phrase.Where(x => (x == ch)).Count();
        return freq;
    }

    //es 4
    List<int> numCollection = new();
    while (numCollection.Count < 20){

        int num = new Random().Next(1, 90);
        if (!numCollection.Contains(num)) numCollection.Add(num);
    }
    //es 6
    DateTime today = @DateTime.Now;

        
    

}

<h1>Esercizi:</h1>
    
@*
1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@

<h3>es. 1 </h3>
<div class="container debug py-3">
    <p>Stampare nome e cognome:</p>
    <h5>@name @surname</h5>
</div>

@*
2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.*@
<h3>es. 2 </h3>
<div class="container debug py-3">
    <p>Stampare in pagina risultato dell funzione somma numeri</p>
    <h5> Somma numeri da 1 a 10: @getSumm(10)</h5>
</div>

@*
3. Contare quante volte la lettera a è presente nalla frase 
"nel mezzo del cammin di nostra vita" e stampare questo valore in pagina*@

<h3>es. 3 </h3>
<div class="container debug py-3">
    <p>Stampare in pagina quante volte la lettera a è presente nalla frase 
    "nel mezzo del cammin di nostra vita"</p>

    <h5> Tot lettera a: @letterACount(@str, 'a')</h5>
</div>

@*4. Creare una List<int> di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) 
    e mostrare in pagina solo i numeri compresi tra 20 e 70*@

<h3>es. 4 </h3>
<div class="container debug py-3">
    <p>Stampare in pagina quante volte la lettera a è presente nalla frase 
    "nel mezzo del cammin di nostra vita"</p>

    <h5> Numeri estratti compresi tra 20 e 70</h5>
    @foreach(int num in numCollection){
        if (num >= 20 && num <= 70)
        {
            <div class="numbers-box p-2 mb-3">
            <p class="mb-0">n: @num</p>
            </div>
        }
    }
</div>

@*5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) 
     con il formato anno-mese-giorno ore:minuti:secondi
*@

<h3>es. 5 </h3>
<div class="container debug py-3">
    <p>Stampare in pagina la data e l'ora attuale
     con il formato anno-mese-giorno ore:minuti:secondi"</p>

    <h6>Data e ora attuale:</h6>
    <p> @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>

@*6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
    a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere 
        il nome del giorno (Lunedì, Martedì, ...)
*@


<h3>es. 6 </h3>
<div class="container debug py-3">
    <p>Partendo dalla data di oggi, stampare in pagina:"</p>

    <h6>- La data di 7 giorni fa:</h6>
    <p> @DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")</p>

    <h6>- Che giorno della settimana è oggi:</h6>
    <p> @DateTime.Now.ToString("dddd")</p>

    <h6>- Che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno:</h6>
    <p> @DateTime.Now.AddYears(1).ToString("dddd")</p>
</div>
